.c-middle{padding-top:70px;padding-bottom:10px;}
.c-menu .caret{margin-left:-2px;margin-right:4px;}
.c-auth .dropdown-menu{min-width:0px;}

.c-table{word-break:break-all;}
.c-table .text-center{text-align:center;}
.c-table .text-right{text-align:right;}
.c-table .c-table-sorting{background:#f9f9f9;}
.c-table.table-striped tbody > tr:nth-child(odd):not(.info) > .c-table-sorting{background:#f5f5f5;}
.c-table.table-striped tbody > tr:hover:nth-child(odd) > .c-table-sorting{background:#f2f2f2;}
.c-table.table-striped tbody > tr:hover:nth-child(odd).info > .c-table-sorting{background:#BDD9E8;}
.c-table .c-table-caret{float:right;height:10px;vertical-align:middle;display:block;margin:5px 0 0 5px;}
.c-table .c-table-caret span{display:inline-block;width:0;height:0;vertical-align:top;border-right:4px solid transparent;border-left:4px solid transparent;content:"";}
.c-table .c-table-caret-s{border-top:4px solid #000000;margin-top:3px;}
.c-table .c-table-caret-n{border-bottom:4px solid #000000;margin-top:3px;}
.c-table .c-table-caret-ns-up{border-bottom:4px solid #000000;display:block!important;margin-bottom:2px;}
.c-table .c-table-caret-ns-down{border-top:4px solid #000000;display:block!important;}
.c-table th a{color:#333333;display:block;}
.c-table .c-table-sortable a{margin-right:15px;}
.c-table .c-table-cb input{margin:-2px 0 0 0;}
.c-table .c-drag{width:20px;height:20px;cursor:move;}
.c-table .c-drag span{margin:1px 0 0 3px;}

.c-perpager,.c-pager{margin-top:0px;}

.c-form .e-form-el-error{list-style:none;margin:0;padding:0;font-size:12px;color:red;}
.c-form .e-form-el-description{font-size:11px;}
.c-form .e-form-el-control input,.c-form .e-form-el-control textarea{margin-bottom:0px;}
.c-form .e-form-el-control textarea{resize:vertical;}
.c-form label{margin-bottom:2px;}
.c-form .e-form-el{margin:0 0 20px 0;}
.c-form label{cursor:default;}
.c-form .chzn-container-multi .chzn-choices{font-size:14px;color:#555555;vertical-align:middle;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.c-form .chzn-container-active .chzn-choices{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);}
.c-form .chzn-container-multi .chzn-choices .search-choice{margin-top:4px;margin-bottom:4px;}
.c-form .chzn-container-multi .chzn-choices .search-field input{padding-top:6px;padding-bottom:6px;}
.c-form .chzn-container-multi .chzn-drop{margin-top:-3px;border:1px solid rgba(82, 168, 236, 0.8);}
.c-form .chzn-container-multi .chzn-results{margin-top:0px;}

.c-form .uploadifive-button{padding:3px 15px;border: 1px solid #cccccc;border-bottom-color: #b3b3b3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border-color: #0044cc #0044cc #002a80;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);display:inline-block;width:auto!important;height:auto!important;line-height:20px!important;text-transform:none;font-weight:normal; background-image: -moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.c-form .uploadifive-button *{cursor:pointer!important;}
.c-form .uploadifive-button:hover,.c-form .uploadifive-button:focus{background-color: #0044cc;background-position: 0 -15px;-webkit-transition: background-position 0.1s linear;-moz-transition: background-position 0.1s linear;-o-transition: background-position 0.1s linear;transition: background-position 0.1s linear;}

.c-form .uploadifive-queue{width:40%;}
.c-form .uploadifive-queue .image{margin:0 0 10px 0;}
.c-form .uploadifive-queue .image img{display:block;}
.c-form .uploadifive-queue-item{margin-top:10px;}

.c-form .c-oac input{margin-right:10px;}

.e-form-checkbox-frame .e-form-checkbox-el{overflow:hidden;}
.e-form-checkbox-frame .e-form-checkbox-el .checker{float:left;margin-top:0px;}

.e-form-element-file label{display:none;}

.c-table-filter span{float:none!important;display:inline-block!important;margin:0!important;text-align:center;}
.c-table-filter .row-fluid{width:100%;margin:0;text-align:center;}
.c-table-filter select,.c-table-filter input{margin-bottom:0px;}
.c-table-filter .c-table-filter-clear{position:absolute;margin:4px 0 0 -3px;}

.c-button-top{margin-top:2px;}

.c-place{background:#0088cc;margin:0 9px;}
.c-place a{background:0!important;color:#fff!important;}

.c-ckeditor{float:none!important;}

.navbar-fixed-top a.dropdown-submenu{cursor:default;}

@media (max-width: 767px) {
	.c-middle{padding-top:0px;}
	.navbar-fixed-top .container-fluid{min-height:40px;text-align:center;}
	.navbar-fixed-top .caret{display:none;}
	.navbar-fixed-top .dropdown-submenu > a:after{border:0;}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{padding-bottom:2px;}
	.nav-collapse.collapse{min-height:40px;height:auto;}
	.c-table th a{word-break:break-all;}
	.c-pager.pull-right{float:none;}
	.c-button-top{margin:0;}
	.c-button-top .btn-group{margin:0;}
	.c-place{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-bottom:9px;}
}

@media (max-width: 979px) {
	.c-middle{padding-top:0px;}
	.navbar-fixed-top .row-fluid [class*="span"]{float:none;width:auto;}
	.navbar-fixed-top .container-fluid{min-height:40px;text-align:center;}
	.navbar-fixed-top .caret{display:none;}
	.navbar-fixed-top .dropdown-submenu > a:after{border:0;}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{padding-bottom:2px;}
	.nav-collapse.collapse{min-height:40px;height:auto;}
	.nav-collapse .nav{margin-bottom:0px;}
	.c-table th a{word-break:break-all;}
	.c-place{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-bottom:9px;}
}
